<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cotcscouting">  <!-- This should match your package name -->

    <application
        android:allowBackup="true"

        android:label="@string/app_name"
        android:theme="@style/Theme.COTCScouting">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.COTCScouting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
